.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  
  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 0px 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 0px 50px;
    justify-content: center;
  }

  .wrapper_text {
    display: flex;
    gap: 5px;
    align-items: center;

    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}
